<!-- В файле templates/main/books_table.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Таблица Книг</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
<a href="/adding_page"
   style="display: inline-block; padding: 10px 20px; background-color: #007BFF; color: #fff; text-decoration: none; border-radius: 5px;" class="ml-5 mt-5">Вернуться</a>
    <div class="container mt-5">
        <h2>Таблица Книг</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Название</th>
                    <th>Описание</th>
                    <th>Жанр</th>
                    <th>Рейтинг</th>
                </tr>
            </thead>
            <tbody>
                {% for Books in books %}
                    <tr>
                        <td>{{ Books.title }}</td>
                        <td>{{ Books.descr }}</td>
                        <td>{{ Books.genre }}</td>
                        <td>{{ Books.rate }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
