<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная страница</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
    <div class="container mt-5">
        <h1>Главная страница</h1>
        <div class="row mt-3">
            <div class="col">
                <a href="{% url 'adding_page' %}" class="btn btn-primary">Добавить данные</a>
            </div>
            <div class="col">
                <a href="{% url 'admin:index' %}" class="btn btn-primary">Панель администарции</a>
            </div>
        </div>
        <div class="mt-5">
            <h2>Авторы</h2>
            <hr>
            {% for Authors in authors %}
            <div>
                <p><strong>Имя:</strong> {{ Authors.name }}</p>
                <p><strong>Фамилия:</strong> {{ Authors.lastName }}</p>
                <p><strong>Дата рождения:</strong> {{ Authors.birthDate }}</p>
                <p><strong>Место рождения:</strong> {{ Authors.birthCity }}</p>
                <a href="{% url 'modify_Authors' Authors.id %}">Модифицировать</a>
                <hr>
            </div>
            {% endfor %}
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>